.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
    color: #333;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
  }
  
  .nav ul li a:hover {
    color: #000; /* Change la couleur au survol */
  }
  
  .contact-button {
    margin-left: auto;
  }
  
  .btn-contact {
    padding: 10px 20px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .btn-contact:hover {
    background-color: #000;
    color: #fff;
  }
  